<div class="card border-0">
    <div class="card-header">
        <div class="row g-0">
            <div class="col-md-8">
                @if (defaultAddress) {
                <h6>Delivering to {{defaultAddress?.pickerName}}</h6>
                <div class=""> {{defaultAddress?.building}} {{defaultAddress?.streetAddress}} {{defaultAddress?.city}}
                    {{defaultAddress?.zipCode}}</div>
                }

            </div>
            <div class="col-md-4 text-end">
                <a (click)="ChangeAddress()" class="mx-2 cursor">Change</a>
                <a (click)="add()" class="mx-2 cursor">Add new Address</a>
            </div>
        </div>
    </div>
    <div *ngIf="rowData.length>0 && !defaultAddress" class="card-body">

        <div *ngFor="let address of rowData; let i = index" class="row g-0">
            <div class="col-md-12">
                Delivery to {{address?.pickerName}} Phone {{address?.pickerNumber}}
            </div>
            <div class="col-md-12">
                {{address.streetAddress}}
            </div>
        </div>
    </div>

</div>







<!-- Button trigger modal -->
<button type="button" class="btn btn-primary" hidden id="openCommonModel" data-bs-toggle="modal"
    data-bs-target="#exampleModal">
    Launch demo modal
</button>

<!-- Modal -->
<div class="modal fade" id="exampleModal" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1"
    aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h1 class="modal-title fs-5" id="exampleModalLabel"> Delivery Address
                    @if (addressId==0){Create} @if (addressId>0){Update}
                </h1>
                <button type="button" class="btn-close" data-bs-dismiss="modal" id="closeCommonModel"
                    aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <div class="row g-0">



                    <div class="col-12 col-md-6 px-1">
                        <div class="mb-2">
                            <label for="pickerName" class="form-label">Full name (First and Last name)</label>
                            <input type="text" class="form-control" [(ngModel)]="oAddressRequestDto.pickerName"
                                name="pickerName" placeholder="Please enter full name">
                        </div>
                    </div>
                    <div class="col-12 col-md-6 px-1">
                        <div class="mb-2">
                            <label for="pickerNumber" class="form-label">Phone number</label>
                            <input type="text" class="form-control" [(ngModel)]="oAddressRequestDto.pickerNumber"
                                name="pickerNumber" placeholder="Please enter phone number">
                        </div>
                    </div>
                    <div class="col-12 col-md-6 px-1">
                        <div class="mb-2">
                            <label for="streetAddress" class="form-label">Street Address</label>
                            <textarea class="form-control" name="streetAddress"
                                [(ngModel)]="oAddressRequestDto.streetAddress" id="streetAddress" rows="2"
                                placeholder="Street address or P.O. Box"></textarea>
                        </div>
                    </div>
                    <div class="col-12 col-md-6 px-1">
                        <div class="mb-2">
                            <label for="building" class="form-label">Building Info</label>

                            <textarea class="form-control" name="building" [(ngModel)]="oAddressRequestDto.building"
                                id="building" rows="2" placeholder="Apt, suite, unit, building, floor, etc."></textarea>
                        </div>
                    </div>
                    <div class="col-12 col-md-6 px-1">
                        <div class="mb-2">
                            <label for="city" class="form-label">City</label>
                            <input type="text" class="form-control" [(ngModel)]="oAddressRequestDto.city" name="city"
                                placeholder="Please enter city">
                        </div>
                    </div>
                    <div class="col-12 col-md-6 px-1">
                        <div class="mb-2">
                            <label for="state" class="form-label">State</label>
                            <input type="text" class="form-control" [(ngModel)]="oAddressRequestDto.state" name="state"
                                placeholder="Please enter state">
                        </div>
                    </div>
                    <div class="col-12 col-md-6 px-1">
                        <div class="mb-2">
                            <label for="zipCode" class="form-label">Zip Code</label>
                            <input type="text" class="form-control" [(ngModel)]="oAddressRequestDto.zipCode"
                                name="zipCode" placeholder="Please enter zip code">
                        </div>
                    </div>

                    <div class="col-12 col-md-6 px-1">
                        <div class="mb-2">
                            <label for="isDefault" class="form-label">isDefault</label>
                            <select class="form-select" [(ngModel)]="oAddressRequestDto.isDefault" name="isDefault"
                                aria-label="Default select example">
                                <option value="true">Active</option>
                                <option value="false">Inactive</option>
                            </select>
                        </div>
                    </div>
                    <div class="col-12 col-md-12 mb-3">
                        <label for="remarks" class="form-label">Remarks</label>
                        <textarea class="form-control" name="remarks" [(ngModel)]="oAddressRequestDto.remarks"
                            id="remarks" rows="3"></textarea>
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                @if (addressId==0){
                <button type="button" class="btn btn-primary" (click)="InsertAddress()">Save</button>
                }
                @if (addressId>0){
                <button type="button" class="btn btn-primary" (click)="UpdateAddress()">Update</button>
                }
            </div>
        </div>
    </div>
</div>



<button type="button" class="btn btn-primary" hidden data-bs-toggle="modal" id="openCommonDelete"
    data-bs-target="#staticCommonBackdrop">
    Launch static backdrop modal
</button>

<!-- Modal -->
<div class="modal fade" id="staticCommonBackdrop" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1"
    aria-labelledby="staticBackdropLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h1 class="modal-title fs-5" id="staticBackdropLabel">Address Delete</h1>
                <button type="button" class="btn-close" id="closeCommonDelete" data-bs-dismiss="modal"
                    aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <div class="row g-0">
                    <div class="col-md-6 h2 text-center">
                        are you confirm delete?
                    </div>
                </div>
            </div>
            <div class="modal-footer text-center">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal"> Close </button>
                <button type="button" class="btn btn-primary" (click)="DeleteAddress()"> Confirm </button>
            </div>
        </div>
    </div>
</div>