<div class="">
    <div class="card">
        <div class="card-header">
            <h1 class="card-title fs-5" id="cxampleCardLabel">Lesson Progress
                @if (lessonprogresId==0){Create} @if (lessonprogresId>0){Update}
            </h1>     
            <button type="submit" class="btn btn-success float-end" (click)="BackToList()">Back To List</button>
        </div>
        <div class="card-body">
            <div class="row g-0">
                <div class="col-md-4 px-2">
                     <h5 class="border-bottom pb-1">Lesson Info</h5>
                    <div class="row g-0 mb-2">
                        <div class="col-md-12 px-2">
                            <div class="mb-2">
                                <label for="vehicleId" class="form-label">Status</label>
                                <select class="form-select" readonly [(ngModel)]="oLessonProgresRequestDto.status" name="vehicleId"
                                    aria-label="Default select example">
                                    <option value="1">Scheduled </option>
                                    <option value="2">Completed </option>
                                    <option value="3">Cancelled </option>
                                    <option value="4">Rescheduled </option>
                                    <option value="5">Rejected </option>
                    
                                </select>
                            </div>
                        </div>

                        <div class="col-md-12 px-2">
                            <div class="mb-2">
                                <label for="progressPercentage" class="form-label">Progress Weight</label>
                                <input type="number" class="form-control" [(ngModel)]="oLessonProgresRequestDto.progressPercentage"
                                    name="progressPercentage">
                            </div>
                        </div>
                        <div class="col-md-12 px-2 mb-3">
                            <label for="feedback" class="form-label">Feedback</label>
                            <textarea class="form-control" name="feedback" [(ngModel)]="oLessonProgresRequestDto.feedback" id="feedback"
                                rows="4"></textarea>
                        </div>
                    </div>
                </div>
                <div class="col-md-4 px-2">        
                     <h5 class="border-bottom pb-1">Assign Checklist</h5>             
                    <ag-grid-angular class="ag-theme-alpine" style="height:40vh; width: 100%;" [columnDefs]="colDefsTransection"
                     [rowData]="rowData" [rowSelection]="'multiple'" (selectionChanged)="AssignSelectionChange()" (gridReady)="onGridReadyTransection($event)" [defaultColDef]="DeafultCol">
                    </ag-grid-angular>
                </div>
                <div class="col-md-4">
                    <h5 class="border-bottom pb-1">UnAssign Checklist</h5> 
                     <ag-grid-angular class="ag-theme-alpine" style="height:40vh; width: 100%;" [columnDefs]="colDefsUnAssign"
                     [rowData]="rowDataUnassign" [rowSelection]="'multiple'" (selectionChanged)="UnassignSelectionChange()" (gridReady)="onGridReady($event)" [defaultColDef]="DeafultCol">
                    </ag-grid-angular>
                </div>
            </div>

            
        </div>
        <div class="card-footer text-end">
            @if (lessonprogresId==0){
            <button type="button" class="btn btn-primary" (click)="InsertLessonProgres()">Confirm</button>
            }
            @if (lessonprogresId>0){
            <button type="button" class="btn btn-primary" (click)="UpdateLessonProgres()">Update</button>
            }
        </div>

        
    </div>
</div>