<nav class="mobile-bottom-nav">
  <a  [routerLink]="'/'" routerLinkActive="active" [routerLinkActiveOptions]="{ exact: true }" class="mobile-nav-item">
    <i class="bi bi-house"></i>
    <span>Home</span>
  </a>

  <a routerLink="/brands" routerLinkActive="active" class="mobile-nav-item">
    <i class="bi bi-tags"></i>
    <span>Brands</span>
  </a>

  <a routerLink="/product-category" routerLinkActive="active" class="mobile-nav-item">
    <i class="bi bi-grid"></i>
    <span>Categories</span>
  </a>

  <a  (click)="reditect()" class="mobile-nav-item">
    <span class="nav-icon-wrapper">
      <i class="bi bi-bag"></i>
      <span class="cart-badge">{{cartItemsCount}}</span>
    </span>
    <span>Cart</span>
  </a>

  <a  (click)="filter()" routerLinkActive="active" class="mobile-nav-item">
    <i class="bi bi-chat-dots"></i>
    <span>Chat</span>
  </a>
</nav>