<div class="container mt-4">
    <div class="d-flex justify-content-between align-items-center mb-3">
        <h5>People you may know</h5>
        <a href="#">See all</a>
    </div>

    <div class="d-flex overflow-auto">
        <!-- Card Start -->
        <div *ngFor="let friend of userList" class="people-card">
            <img src="default_pofile.png" class="Profile-img" alt="Profile">
            <h6 class="mt-2 mb-1">{{friend.fullName}}</h6>
            <div class="mutual-friends">2 mutual friends</div>
            <button class="btn btn-primary btn-sm btn-friend" (click)="InsertFriendRequest(friend)">Add friend</button>
            <button class="btn btn-light btn-sm btn-friend">Remove</button>
        </div>
        <!-- Card End -->
    </div>
</div>