<div class="row g-0">

    <div class="col-2 px-1">
        <div class="mb-2">
            <input type="date" class="form-control" [(ngModel)]="startDate" name="startDate">
        </div>
    </div>

    <div class="col-2 px-1">
        <div class="mb-2">
            <input type="date" class="form-control" [(ngModel)]="endDate" name="endDate">
        </div>
    </div>

    <div class="col-2 px-1">
        <div class="mb-2">
            <select class="form-select" [(ngModel)]="oPaymentFilterRequestDto.packageId" name="packageId"
                aria-label="Default select example">
                <option value="0">-- select package -- </option>
                <option *ngFor="let item of packageList; trackBy: trackByPackage" [value]="item.id">
                    {{ item.name }}
                </option>
            </select>
        </div>
    </div>

    <div class="col-2 px-1">
        <div class="mb-2">
            <button class="btn btn-success" (click)="Filter()">Search</button>
        </div>
    </div>

    <div class="col text-end">
        <button class="btn btn-success" (click)="PDFGenerate()">PDF</button>
        <button class="btn btn-success mx-1" (click)="add()"> <i class="bi bi-plus"></i> Add</button>
    </div>


    <div class="col-md-12">
        <ag-grid-angular class="ag-theme-alpine" style="height: 70vh;width: 100%;" [columnDefs]="colDefsTransection"
            [rowData]="rowData" [rowSelection]="'single'" (gridReady)="onGridReadyTransection($event)"
            [defaultColDef]="DeafultCol">
        </ag-grid-angular>
    </div>
    <div class="col-md-12">
        <app-pagination [pageSize]="10" [currentPage]="pageIndex" [totalItems]="totalRecords"
            (pageChange)="PageChange($event)"></app-pagination>
    </div>
</div>


<!-- Button trigger modal -->
<button type="button" class="btn btn-primary" hidden id="openCommonModel" data-bs-toggle="modal"
    data-bs-target="#exampleModal">
    Launch demo modal
</button>


<!-- Modal -->
<div class="modal fade" id="exampleModal" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1"
    aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h1 class="modal-title fs-5" id="exampleModalLabel">Payment
                    @if (paymentId==0){Create} @if (paymentId>0){Update}
                </h1>
                <button type="button" class="btn-close" data-bs-dismiss="modal" id="closeCommonModel"
                    aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <div class="row g-0">

                    <div class="col-12 px-1">
                        <div class="mb-2">
                            <label for="transactionDate" class="form-label">Transaction Date</label>
                            <input type="date" class="form-control" [(ngModel)]="transactionDate"
                                name="transactionDate">
                        </div>
                    </div>


                    <div class="col-12 px-1">
                        <div class="mb-2">
                            <label for="userId" class="form-label">Student </label>
                            <select class="form-select" [(ngModel)]="oPaymentRequestDto.userId" name="userId"
                                aria-label="Default select example">
                                <option value="">-- select user -- </option>
                                <option *ngFor="let item of userList; trackBy: trackByUser" [value]="item.id">
                                    {{ item.fullName }}
                                </option>
                            </select>
                        </div>
                    </div>

                    <div class="col-12 px-1">
                        <div class="mb-2">
                            <label for="packageId" class="form-label">Package</label>
                            <select class="form-select" [(ngModel)]="oPaymentRequestDto.packageId" name="packageId"
                                aria-label="Default select example">
                                <option value="0">-- select package -- </option>
                                <option *ngFor="let item of packageFromList; trackBy: trackByPackageFrom"
                                    [value]="item.id">
                                    {{ item.name }}
                                </option>
                            </select>
                        </div>
                    </div>

                    <div class="col-12 mb-3">
                        <div class="mb-2">
                            <label for="amount" class="form-label">Amount</label>
                            <input type="text" class="form-control" [(ngModel)]="oPaymentRequestDto.amount"
                                name="amount">
                        </div>
                    </div>
                    <div class="col-12 mb-3">
                        <div class="mb-2">
                            <label for="paymentMethod" class="form-label">Payment Method</label>
                            <input type="text" class="form-control" [(ngModel)]="oPaymentRequestDto.paymentMethod"
                                name="paymentMethod">
                        </div>
                    </div>

                    <div class="col-12 mb-3">
                        <label for="remarks" class="form-label">Remarks</label>
                        <textarea class="form-control" name="remarks" [(ngModel)]="oPaymentRequestDto.remarks"
                            id="remarks" rows="3"></textarea>
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                @if (paymentId==0){
                <button type="button" class="btn btn-primary" (click)="InsertPayment()">Save</button>
                }
                @if (paymentId>0){
                <button type="button" class="btn btn-primary" (click)="UpdatePayment()">Update</button>
                }
            </div>
        </div>
    </div>
</div>



<button type="button" class="btn btn-primary" hidden data-bs-toggle="modal" id="openCommonDelete"
    data-bs-target="#staticCommonBackdrop">
    Launch static backdrop modal
</button>

<!-- Modal -->
<div class="modal fade" id="staticCommonBackdrop" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1"
    aria-labelledby="staticBackdropLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h1 class="modal-title fs-5" id="staticBackdropLabel">Payment Delete</h1>
                <button type="button" class="btn-close" id="closeCommonDelete" data-bs-dismiss="modal"
                    aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <div class="row g-0">
                    <div class="col-md-6 h2 text-center">
                        are you confirm delete?
                    </div>
                </div>
            </div>
            <div class="modal-footer text-center">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal"> Close </button>
                <button type="button" class="btn btn-primary" (click)="DeletePayment()"> Confirm </button>
            </div>
        </div>
    </div>
</div>