<div class="card card-warning card-outline mb-4">
    <!--begin::Header-->
    <div class="card-header">
        <span class="card-title h1">Expenditure Head</span> 
         <button type="submit" class="btn btn-success float-end" (click)="BackToList()">Back To List</button>
    </div>
    <!--end::Header-->
    <!--begin::Form-->
    <form>
        <!--begin::Body-->
        <div class="card-body">
            <div class="row mb-3">
                <label for="name" class="col-sm-2 col-form-label">Name</label>
                <div class="col-sm-10">
                    <input type="text" class="form-control" id="name" [(ngModel)]="oPackageRequestDto.name"
                        name="name" />
                </div>
            </div>
            <div class="row mb-3">
                <label for="totalLessons" class="col-sm-2 col-form-label">Lessons</label>
                <div class="col-sm-10">
                    <input type="number" class="form-control" id="totalLessons" (keyup)="ChangeRate($event)" [(ngModel)]="oPackageRequestDto.totalLessons"
                        name="totalLessons" />
                </div>
            </div>
            <div class="row mb-3">
                <label for="price" class="col-sm-2 col-form-label">Fees</label>
                <div class="col-sm-10">
                    <input type="number" class="form-control" id="price" (keyup)="ChangeRate($event)" [(ngModel)]="oPackageRequestDto.price"
                        name="price" />
                </div>
            </div>
            <div class="row mb-3">
                <label for="rate" class="col-sm-2 col-form-label">Rate</label>
                <div class="col-sm-10">
                    <input type="number" class="form-control" id="rate" [(ngModel)]="oPackageRequestDto.rate"
                        name="rate" />
                </div>
            </div>

            <!-- <div class="row mb-3">
                <label for="remarks" class="col-sm-2 col-form-label">Remarks</label>
                <div class="col-sm-10">
                    <textarea class="form-control" name="remarks" [(ngModel)]="oPackageRequestDto.remarks"
                        id="remarks" rows="3"></textarea>
                </div>
            </div> -->

        </div>
        <!--end::Body-->
        <!--begin::Footer-->
        <div class="card-footer">
            @if (PackageId==0){
            <button type="button" class="btn btn-success float-end" (click)="InsertPackage()">Save</button>
            }
            @if (PackageId>0){
            <button type="button" class="btn btn-success float-end" (click)="UpdatePackage()">Update</button>
            }
            <button type="submit" class="btn btn-secondary" (click)="Reset()">Reset</button>
        </div>
        <!--end::Footer-->
    </form>
    <!--end::Form-->
</div>
