<!-- <div class="row g-0">
    <div class="col-12 text-center p-3">
        <img src="flat-logo.png" />
    </div>
</div> -->

<nav class="navbar navbar-light bg-light">
  <div class="w-100 flex-column">

    <!-- Sidebar Navigation -->
    <ul class="navbar-nav flex-column">

      <!-- Dashboard -->

      <li class="nav-item">
        <a class="nav-link px-2" routerLink="/admin/dashboard" routerLinkActive="active" ariaCurrentWhenActive="page">
          <i class="bi bi-speedometer2"></i> Dashboard
        </a>
      </li>

      <li class="nav-item">
        <a class="nav-link px-2 collapsed" href="#storeMenu" data-bs-toggle="collapse" aria-expanded="false">
          <i class="bi bi-gear-fill"></i> Setting
        </a>
        <ul class="collapse" id="storeMenu">
          <li class="nav-item">
            <a class="nav-link px-2 collapsed" routerLink="/admin/user" routerLinkActive="active"
              data-bs-toggle="collapse" aria-expanded="false">
              <i class="bi bi-person-lines-fill"></i> User
            </a>
          </li>

          <li class="nav-item">
            <a class="nav-link px-2 collapsed" routerLink="/admin/category" routerLinkActive="active"
              data-bs-toggle="collapse" aria-expanded="false">
              <i class="bi bi-person-lines-fill"></i> Category
            </a>
          </li>
          <li class="nav-item">
            <a class="nav-link px-2 collapsed" routerLink="/admin/content" routerLinkActive="active"
              data-bs-toggle="collapse" aria-expanded="false">
              <i class="bi bi-person-lines-fill"></i> Content
            </a>
          </li>

        </ul>
      </li>

      <li class="nav-item">
        <a class="nav-link px-2 collapsed" routerLink="/admin/instructor" routerLinkActive="active"
          data-bs-toggle="collapse" aria-expanded="false">
          <i class="bi bi-building"></i> Instructor
        </a>
      </li>
      <li class="nav-item">
        <a class="nav-link px-2 collapsed" routerLink="/admin/student" routerLinkActive="active"
          data-bs-toggle="collapse" aria-expanded="false">
          <i class="bi bi-building"></i> Student
        </a>
      </li>
      <li class="nav-item">
        <a class="nav-link px-2 collapsed" routerLink="/admin/vehicle" routerLinkActive="active"
          data-bs-toggle="collapse" aria-expanded="false">
          <i class="bi bi-building"></i> Vehicle
        </a>
      </li>
      <li class="nav-item">
        <a class="nav-link px-2 collapsed" routerLink="/admin/appointment" routerLinkActive="active"
          data-bs-toggle="collapse" aria-expanded="false">
          <i class="bi bi-building"></i> Appointment
        </a>
      </li>
      <li class="nav-item">
        <a class="nav-link px-2 collapsed" routerLink="/admin/package" routerLinkActive="active"
          data-bs-toggle="collapse" aria-expanded="false">
          <i class="bi bi-building"></i> Package
        </a>
      </li>
      <li class="nav-item">
        <a class="nav-link px-2 collapsed" routerLink="/admin/slot" routerLinkActive="active" data-bs-toggle="collapse"
          aria-expanded="false">
          <i class="bi bi-building"></i> Slot
        </a>
      </li>
      <li class="nav-item">
        <a class="nav-link px-2 collapsed" routerLink="/admin/booking" routerLinkActive="active" data-bs-toggle="collapse"
          aria-expanded="false">
          <i class="bi bi-building"></i> Booking
        </a>
      </li>
      <li class="nav-item">
        <a class="nav-link px-2 collapsed" routerLink="/admin/booking-reschedule" routerLinkActive="active" data-bs-toggle="collapse"
          aria-expanded="false">
          <i class="bi bi-building"></i> Booking Reschedule
        </a>
      </li>
      <li class="nav-item">
        <a class="nav-link px-2 collapsed" routerLink="/admin/slot-assignment" routerLinkActive="active"
          data-bs-toggle="collapse" aria-expanded="false">
          <i class="bi bi-building"></i> Slot Assignment
        </a>
      </li>
      <li class="nav-item">
        <a class="nav-link px-2 collapsed" routerLink="/admin/user-package" routerLinkActive="active"
          data-bs-toggle="collapse" aria-expanded="false">
          <i class="bi bi-building"></i> User Package
        </a>
      </li>
      <li class="nav-item">
        <a class="nav-link px-2 collapsed" routerLink="/admin/payment" routerLinkActive="active"
          data-bs-toggle="collapse" aria-expanded="false">
          <i class="bi bi-building"></i> Payment
        </a>
      </li>



    </ul>
  </div>
</nav>