<div class="sidebar d-flex flex-column">
    <div class="profile">
        <img src="default_pofile.png" class="profiles" alt="Profile Picture">
        <span>Aktaruzzaman Suroz</span>
    </div>
    <nav class="nav flex-column">
        <a class="nav-link" routerLink="/friend"><i class="bi bi-people"></i> Friends</a>
        <a class="nav-link" href="#"><i class="bi bi-bar-chart"></i> Professional Dashboard</a>
        <a class="nav-link" href="#"><i class="bi bi-newspaper"></i> Feeds</a>
        <a class="nav-link" href="#"><i class="bi bi-people-fill"></i> Groups</a>
        <a class="nav-link" href="#"><i class="bi bi-shop"></i> Marketplace</a>
        <a class="nav-link"  routerLink="/video-call"><i class="bi bi-camera-video"></i> Video</a>
        <a class="nav-link"  routerLink="/audio-call"><i class="bi bi-camera-video"></i> Audio</a>
    </nav>
</div>