/* You can add global styles to this file, and also import other style files */
/* styles.scss */
@tailwind base;
@tailwind components;
@tailwind utilities;

*,
::after,
::before {
    box-sizing: border-box;
    font-family: 'Source Sans Pro', sans-serif;
    /* Set the font globally */
}

* {
    // font-size: small;
    font-weight: 500;
}

* {
    font-size: small;
}
.ag-header-cell-label {
    justify-content: center !important;
}

.ag-cell {
    text-align: center !important;
}

/* Reduce padding inside cells */
.custom-grid .ag-cell {
    padding: 4px;
}

/* Reduce row height */
.custom-grid .ag-row {
    height: 30px;                   
}

.cursor{
    cursor: pointer;
}
/* Reduce padding inside header cells */
.custom-grid .ag-header-cell {
    padding: 4px;
}

.profile{
    width: 40px;
    height: 40px;
    border-radius: 50%;
}

.Profile-img{
    height: 140px;
    width: 100%;
} 

.bg-theme{
    background-color: #ffffff !important;
}

.floating-cart {
  position: fixed;
  bottom: 20px;
  right: 20px;
  z-index: 1050;
}

::ng-deep .cdk-overlay-container {
  z-index: 2055 !important;
}

::ng-deep .cdk-overlay-pane {
  z-index: 2055 !important;
}

::ng-deep .ant-select-dropdown,
::ng-deep .ant-select-tree-dropdown {
  z-index: 2055 !important;
}

@media (max-width: 1024px) {
  .page-content {
    padding-bottom: 100px;
  }

  body {
    overflow-x: hidden;
  }

  .floating-compare {
    display: none !important;
  }
}