<div class="card card-warning card-outline mb-4">
    <div class="card-header">
        <h5 class="card-title mb-0">Student Lesson Assignment</h5>
        <button type="submit" class="btn btn-success float-end" (click)="BackToList()">Back To List</button>
    </div>

    <div class="card-body">
        <div class="row">
            <!-- Left Section: Form -->
            <div class="col-md-12">

                <!-- Student Info -->
                <div class="mb-4">
                    <h6 class="text-primary border-bottom pb-2">Student Info</h6>
                    <div class="row mb-3">
                        <label class="col-sm-4 col-form-label">Student</label>
                        <div class="col-sm-8">
                            <select class="form-select" (change)="changeStuden($event)"
                                [(ngModel)]="oBookingAssignRequestDto.studentId" name="studentId">
                                <option value="0">-- Select student --</option>
                                <option *ngFor="let item of studentList; trackBy: trackByUser" [value]="item.id">{{
                                    item.name }}</option>
                            </select>
                        </div>
                    </div>
                </div>

                <!-- Booking Info -->
                <div class="mb-4">
                    <h6 class="text-primary border-bottom pb-2">Booking Info</h6>
                    <div class="row mb-3">
                        <label class="col-sm-4 col-form-label">Slot</label>
                        <div class="col-sm-8">
                            <!--  -->
                            <select class="form-select" [(ngModel)]="oBookingAssignRequestDto.slotId"
                                [disabled]="bookingId>0?true:false" name="slotId">
                                <option value="0">-- Select slot --</option>
                                <option *ngFor="let item of slotList; trackBy: trackBySlot" [value]="item.id">
                                    {{item.startTime }} - {{item.endTime }}</option>
                            </select>
                        </div>
                    </div>

                    <div class="row mb-3">
                        <label class="col-sm-4 col-form-label">Repeat</label>
                        <div class="col-sm-8">
                            <select class="form-select" [(ngModel)]="oBookingAssignRequestDto.isRepeat" name="isRepeat"
                                aria-label="Default select example">
                                <option value="true">Yes</option>
                                <option value="false">No</option>
                            </select>
                        </div>
                    </div>

                </div>

                <!-- Schedule Info -->
                <div class="mb-4">
                    <h6 class="text-primary border-bottom pb-2">Schedule Info</h6>
                    <div class="row mb-3">
                        <label class="col-sm-4 col-form-label">Lesson Date</label>
                        <div class="col-sm-8">
                            <input type="date" class="form-control" [disabled]="bookingId>0?true:false"
                                [(ngModel)]="packageStartDate" name="packageStartDate">
                        </div>
                    </div>


                </div>

                <!-- Package Info -->
                <div class="mb-4">
                    <h6 class="text-primary border-bottom pb-2">Package Info </h6>
                    <div class="row mb-3">
                        <label class="col-sm-4 col-form-label">Package Name</label>
                        <div class="col-sm-8">
                            <input type="text" class="form-control" disabled
                                [(ngModel)]="oStudentResponseDto.packageName">
                        </div>
                    </div>
                    <div class="row mb-3">
                        <label class="col-sm-4 col-form-label">Total Lessons</label>
                        <div class="col-sm-8">
                            <input type="text" class="form-control" disabled
                                [(ngModel)]="oStudentResponseDto.nooflesson">
                        </div>
                    </div>
                    <div class="row mb-3">
                        <label class="col-sm-4 col-form-label">Remaning Lessons</label>
                        <div class="col-sm-8">
                            <input type="text" class="form-control" disabled
                                [(ngModel)]="oStudentResponseDto.remainingLesson">
                        </div>
                    </div>
                    <div class="row mb-3">
                        <label class="col-sm-4 col-form-label">Complete Lessons</label>
                        <div class="col-sm-8">
                            <input type="text" class="form-control" disabled
                                [(ngModel)]="oStudentResponseDto.completeLesson">
                        </div>
                    </div>
                </div>

                <!-- Remarks -->
                <div class="mb-4">
                    <h6 class="text-primary border-bottom pb-2">Remarks</h6>
                    <div class="row mb-3">
                        <div class="col-sm-12">
                            <textarea class="form-control" rows="3" [(ngModel)]="oBookingAssignRequestDto.remarks"
                                name="remarks"></textarea>
                        </div>
                    </div>
                </div>

            </div>
        </div>
    </div>

    <div class="card-footer text-end">
        @if (bookingId>0) {
        <button type="button" class="btn btn-warning me-2" (click)="UpdateBooking()">Update Lesson</button>
        }@else {
        <button type="button" class="btn btn-warning me-2" (click)="InsertBooking()">Create Lesson </button>
        }
    </div>
</div>